page-weather {

  .bigFont {
    font-size: 100px;
  }
  .medium-font {
    font-size: 60px;
  }
  .weather-icon{
    color:gold;
  }

  .weather-text{
    color:gray;
  }


  .weather-grid {
    height: 100%;
    justify-content: center;
  }

  .white{
    color:white!important;
  }

}

